*{
    margin: 0;
    padding: 0;
}

.calculator{
    background-color: black;
    width: 500px;
    border-radius: 20px;
    padding: 30px;
}

.input{
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: larger;
    text-align: center;
}


.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.orange{
    background-color: orange;
    color: white;
    font-size: large;
}
